@model UserType

<p>yo</p>


<form asp-action="CreateUserType" id="create-User-Type">
    <div class="form-floating" style="padding-bottom:5px">
                <input asp-for="Name" class="form-control required" />
                <label asp-for="Name" class="control-label"></label>
</div>
</form>