@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/views/shared/LoginLayout.cshtml";


}
<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <!--Just the logo.. Don't mind this-->
        @*<svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">*@
        @*<path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />*@
        @*<g><path fill="#fff"
        d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
        C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
        c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
        </g>*@

        @*<h1>Simple CSS Waves</h1>*@

        <div class="container">
            <div class="row flex">

                <div id="ConnectLogo" class="col-md-6">

                    @*<img src="~/img/ConnectLogo5edit3.png">*@

                    <svg id="ConnectLogoSVG" width="460" height="373" stroke-width="1" viewBox="0 0 460 373" fill="none" xmlns="http://www.w3.org/2000/svg">
                        @*<mask id="path-1-outside-1_3_13" maskUnits="userSpaceOnUse" x="0.727295" y="89.2273" width="459" height="194" fill="black">*@
                        @* <rect fill="white" x="0.727295" y="89.2273" width="459" height="194" />*@
                        <path id="loading" d="M116.636 115H108.182C107.682 112.568 106.807 110.432 105.557 108.591C104.33 106.75 102.83 105.205 101.057 103.955C99.3068 102.682 97.3637 101.727 95.2273 101.091C93.0909 100.455 90.8637 100.136 88.5455 100.136C84.3182 100.136 80.4887 101.205 77.0568 103.341C73.6477 105.477 70.9318 108.625 68.9091 112.784C66.9091 116.943 65.9091 122.045 65.9091 128.091C65.9091 134.136 66.9091 139.239 68.9091 143.398C70.9318 147.557 73.6477 150.705 77.0568 152.841C80.4887 154.977 84.3182 156.045 88.5455 156.045C90.8637 156.045 93.0909 155.727 95.2273 155.091C97.3637 154.455 99.3068 153.511 101.057 152.261C102.83 150.989 104.33 149.432 105.557 147.591C106.807 145.727 107.682 143.591 108.182 141.182H116.636C116 144.75 114.841 147.943 113.159 150.761C111.477 153.58 109.386 155.977 106.886 157.955C104.386 159.909 101.58 161.398 98.4659 162.42C95.375 163.443 92.0682 163.955 88.5455 163.955C82.5909 163.955 77.2955 162.5 72.6591 159.591C68.0227 156.682 64.375 152.545 61.7159 147.182C59.0568 141.818 57.7273 135.455 57.7273 128.091C57.7273 120.727 59.0568 114.364 61.7159 109C64.375 103.636 68.0227 99.5 72.6591 96.5909C77.2955 93.6818 82.5909 92.2273 88.5455 92.2273C92.0682 92.2273 95.375 92.7386 98.4659 93.7614C101.58 94.7841 104.386 96.2841 106.886 98.2614C109.386 100.216 111.477 102.602 113.159 105.42C114.841 108.216 116 111.409 116.636 115Z" />
                        <path id="loading" d="M218.253 131.5V163H210.207V110.636H217.98V118.818H218.662C219.889 116.159 221.753 114.023 224.253 112.409C226.753 110.773 229.98 109.955 233.935 109.955C237.48 109.955 240.582 110.682 243.242 112.136C245.901 113.568 247.969 115.75 249.446 118.682C250.923 121.591 251.662 125.273 251.662 129.727V163H243.617V130.273C243.617 126.159 242.548 122.955 240.412 120.659C238.276 118.341 235.344 117.182 231.616 117.182C229.048 117.182 226.753 117.739 224.73 118.852C222.73 119.966 221.151 121.591 219.992 123.727C218.832 125.864 218.253 128.455 218.253 131.5Z" />
                        <path id="loading" d="M274.409 131.5V163H266.364V110.636H274.136V118.818H274.818C276.045 116.159 277.909 114.023 280.409 112.409C282.909 110.773 286.136 109.955 290.091 109.955C293.636 109.955 296.739 110.682 299.398 112.136C302.057 113.568 304.125 115.75 305.602 118.682C307.08 121.591 307.818 125.273 307.818 129.727V163H299.773V130.273C299.773 126.159 298.705 122.955 296.568 120.659C294.432 118.341 291.5 117.182 287.773 117.182C285.205 117.182 282.909 117.739 280.886 118.852C278.886 119.966 277.307 121.591 276.148 123.727C274.989 125.864 274.409 128.455 274.409 131.5Z" />
                        <path id="loading" d="M344.474 164.091C339.429 164.091 335.077 162.977 331.418 160.75C327.781 158.5 324.974 155.364 322.997 151.341C321.043 147.295 320.065 142.591 320.065 137.227C320.065 131.864 321.043 127.136 322.997 123.045C324.974 118.932 327.724 115.727 331.247 113.432C334.793 111.114 338.929 109.955 343.656 109.955C346.384 109.955 349.077 110.409 351.736 111.318C354.395 112.227 356.815 113.705 358.997 115.75C361.179 117.773 362.918 120.455 364.213 123.795C365.509 127.136 366.156 131.25 366.156 136.136V139.545H325.793V132.591H357.974C357.974 129.636 357.384 127 356.202 124.682C355.043 122.364 353.384 120.534 351.224 119.193C349.088 117.852 346.565 117.182 343.656 117.182C340.452 117.182 337.679 117.977 335.338 119.568C333.02 121.136 331.236 123.182 329.986 125.705C328.736 128.227 328.111 130.932 328.111 133.818V138.455C328.111 142.409 328.793 145.761 330.156 148.511C331.543 151.239 333.463 153.318 335.918 154.75C338.372 156.159 341.224 156.864 344.474 156.864C346.588 156.864 348.497 156.568 350.202 155.977C351.929 155.364 353.418 154.455 354.668 153.25C355.918 152.023 356.884 150.5 357.565 148.682L365.338 150.864C364.52 153.5 363.145 155.818 361.213 157.818C359.281 159.795 356.895 161.341 354.054 162.455C351.213 163.545 348.02 164.091 344.474 164.091Z" />
                        <path id="loading" d="M399.668 164.091C394.759 164.091 390.531 162.932 386.986 160.614C383.44 158.295 380.713 155.102 378.804 151.034C376.895 146.966 375.94 142.318 375.94 137.091C375.94 131.773 376.918 127.08 378.872 123.011C380.849 118.92 383.599 115.727 387.122 113.432C390.668 111.114 394.804 109.955 399.531 109.955C403.213 109.955 406.531 110.636 409.486 112C412.44 113.364 414.861 115.273 416.747 117.727C418.634 120.182 419.804 123.045 420.259 126.318H412.213C411.599 123.932 410.236 121.818 408.122 119.977C406.031 118.114 403.213 117.182 399.668 117.182C396.531 117.182 393.781 118 391.418 119.636C389.077 121.25 387.247 123.534 385.929 126.489C384.634 129.42 383.986 132.864 383.986 136.818C383.986 140.864 384.622 144.386 385.895 147.386C387.19 150.386 389.009 152.716 391.349 154.375C393.713 156.034 396.486 156.864 399.668 156.864C401.759 156.864 403.656 156.5 405.361 155.773C407.065 155.045 408.509 154 409.69 152.636C410.872 151.273 411.713 149.636 412.213 147.727H420.259C419.804 150.818 418.679 153.602 416.884 156.08C415.111 158.534 412.759 160.489 409.827 161.943C406.918 163.375 403.531 164.091 399.668 164.091Z" />
                        <path id="loading" d="M454.793 110.636V117.455H427.656V110.636H454.793ZM435.565 98.0909H443.611V148C443.611 150.273 443.94 151.977 444.599 153.114C445.281 154.227 446.145 154.977 447.19 155.364C448.259 155.727 449.384 155.909 450.565 155.909C451.452 155.909 452.179 155.864 452.747 155.773C453.315 155.659 453.77 155.568 454.111 155.5L455.747 162.727C455.202 162.932 454.44 163.136 453.463 163.341C452.486 163.568 451.247 163.682 449.747 163.682C447.474 163.682 445.247 163.193 443.065 162.216C440.906 161.239 439.111 159.75 437.679 157.75C436.27 155.75 435.565 153.227 435.565 150.182V98.0909Z" />
                        <path id="loading" d="M62.6364 231H54.1818C53.6818 228.568 52.8068 226.432 51.5568 224.591C50.3296 222.75 48.8296 221.205 47.0568 219.955C45.3068 218.682 43.3637 217.727 41.2273 217.091C39.0909 216.455 36.8637 216.136 34.5455 216.136C30.3182 216.136 26.4887 217.205 23.0568 219.341C19.6478 221.477 16.9318 224.625 14.9091 228.784C12.9091 232.943 11.9091 238.045 11.9091 244.091C11.9091 250.136 12.9091 255.239 14.9091 259.398C16.9318 263.557 19.6478 266.705 23.0568 268.841C26.4887 270.977 30.3182 272.045 34.5455 272.045C36.8637 272.045 39.0909 271.727 41.2273 271.091C43.3637 270.455 45.3068 269.511 47.0568 268.261C48.8296 266.989 50.3296 265.432 51.5568 263.591C52.8068 261.727 53.6818 259.591 54.1818 257.182H62.6364C62 260.75 60.8409 263.943 59.1591 266.761C57.4773 269.58 55.3864 271.977 52.8864 273.955C50.3864 275.909 47.5796 277.398 44.4659 278.42C41.375 279.443 38.0682 279.955 34.5455 279.955C28.5909 279.955 23.2955 278.5 18.6591 275.591C14.0227 272.682 10.375 268.545 7.71593 263.182C5.05684 257.818 3.72729 251.455 3.72729 244.091C3.72729 236.727 5.05684 230.364 7.71593 225C10.375 219.636 14.0227 215.5 18.6591 212.591C23.2955 209.682 28.5909 208.227 34.5455 208.227C38.0682 208.227 41.375 208.739 44.4659 209.761C47.5796 210.784 50.3864 212.284 52.8864 214.261C55.3864 216.216 57.4773 218.602 59.1591 221.42C60.8409 224.216 62 227.409 62.6364 231Z" />
                        <path id="loading" d="M156.207 279V226.636H163.98V234.545H164.526C165.48 231.955 167.207 229.852 169.707 228.239C172.207 226.625 175.026 225.818 178.162 225.818C178.753 225.818 179.491 225.83 180.378 225.852C181.264 225.875 181.935 225.909 182.389 225.955V234.136C182.116 234.068 181.491 233.966 180.514 233.83C179.56 233.67 178.548 233.591 177.48 233.591C174.935 233.591 172.662 234.125 170.662 235.193C168.685 236.239 167.116 237.693 165.957 239.557C164.821 241.398 164.253 243.5 164.253 245.864V279H156.207Z" />
                        <path id="loading" d="M212.287 280.091C207.241 280.091 202.889 278.977 199.23 276.75C195.594 274.5 192.787 271.364 190.81 267.341C188.855 263.295 187.878 258.591 187.878 253.227C187.878 247.864 188.855 243.136 190.81 239.045C192.787 234.932 195.537 231.727 199.06 229.432C202.605 227.114 206.741 225.955 211.469 225.955C214.196 225.955 216.889 226.409 219.548 227.318C222.207 228.227 224.628 229.705 226.81 231.75C228.991 233.773 230.73 236.455 232.026 239.795C233.321 243.136 233.969 247.25 233.969 252.136V255.545H193.605V248.591H225.787C225.787 245.636 225.196 243 224.014 240.682C222.855 238.364 221.196 236.534 219.037 235.193C216.901 233.852 214.378 233.182 211.469 233.182C208.264 233.182 205.491 233.977 203.151 235.568C200.832 237.136 199.048 239.182 197.798 241.705C196.548 244.227 195.923 246.932 195.923 249.818V254.455C195.923 258.409 196.605 261.761 197.969 264.511C199.355 267.239 201.276 269.318 203.73 270.75C206.185 272.159 209.037 272.864 212.287 272.864C214.401 272.864 216.31 272.568 218.014 271.977C219.741 271.364 221.23 270.455 222.48 269.25C223.73 268.023 224.696 266.5 225.378 264.682L233.151 266.864C232.332 269.5 230.957 271.818 229.026 273.818C227.094 275.795 224.707 277.341 221.866 278.455C219.026 279.545 215.832 280.091 212.287 280.091Z" />
                        @* </mask>*@
                        <path id="loading" d="M116.636 115H108.182C107.682 112.568 106.807 110.432 105.557 108.591C104.33 106.75 102.83 105.205 101.057 103.955C99.3068 102.682 97.3637 101.727 95.2273 101.091C93.0909 100.455 90.8637 100.136 88.5455 100.136C84.3182 100.136 80.4887 101.205 77.0568 103.341C73.6477 105.477 70.9318 108.625 68.9091 112.784C66.9091 116.943 65.9091 122.045 65.9091 128.091C65.9091 134.136 66.9091 139.239 68.9091 143.398C70.9318 147.557 73.6477 150.705 77.0568 152.841C80.4887 154.977 84.3182 156.045 88.5455 156.045C90.8637 156.045 93.0909 155.727 95.2273 155.091C97.3637 154.455 99.3068 153.511 101.057 152.261C102.83 150.989 104.33 149.432 105.557 147.591C106.807 145.727 107.682 143.591 108.182 141.182H116.636C116 144.75 114.841 147.943 113.159 150.761C111.477 153.58 109.386 155.977 106.886 157.955C104.386 159.909 101.58 161.398 98.4659 162.42C95.375 163.443 92.0682 163.955 88.5455 163.955C82.5909 163.955 77.2955 162.5 72.6591 159.591C68.0227 156.682 64.375 152.545 61.7159 147.182C59.0568 141.818 57.7273 135.455 57.7273 128.091C57.7273 120.727 59.0568 114.364 61.7159 109C64.375 103.636 68.0227 99.5 72.6591 96.5909C77.2955 93.6818 82.5909 92.2273 88.5455 92.2273C92.0682 92.2273 95.375 92.7386 98.4659 93.7614C101.58 94.7841 104.386 96.2841 106.886 98.2614C109.386 100.216 111.477 102.602 113.159 105.42C114.841 108.216 116 111.409 116.636 115Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M218.253 131.5V163H210.207V110.636H217.98V118.818H218.662C219.889 116.159 221.753 114.023 224.253 112.409C226.753 110.773 229.98 109.955 233.935 109.955C237.48 109.955 240.582 110.682 243.242 112.136C245.901 113.568 247.969 115.75 249.446 118.682C250.923 121.591 251.662 125.273 251.662 129.727V163H243.617V130.273C243.617 126.159 242.548 122.955 240.412 120.659C238.276 118.341 235.344 117.182 231.616 117.182C229.048 117.182 226.753 117.739 224.73 118.852C222.73 119.966 221.151 121.591 219.992 123.727C218.832 125.864 218.253 128.455 218.253 131.5Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M274.409 131.5V163H266.364V110.636H274.136V118.818H274.818C276.045 116.159 277.909 114.023 280.409 112.409C282.909 110.773 286.136 109.955 290.091 109.955C293.636 109.955 296.739 110.682 299.398 112.136C302.057 113.568 304.125 115.75 305.602 118.682C307.08 121.591 307.818 125.273 307.818 129.727V163H299.773V130.273C299.773 126.159 298.705 122.955 296.568 120.659C294.432 118.341 291.5 117.182 287.773 117.182C285.205 117.182 282.909 117.739 280.886 118.852C278.886 119.966 277.307 121.591 276.148 123.727C274.989 125.864 274.409 128.455 274.409 131.5Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M344.474 164.091C339.429 164.091 335.077 162.977 331.418 160.75C327.781 158.5 324.974 155.364 322.997 151.341C321.043 147.295 320.065 142.591 320.065 137.227C320.065 131.864 321.043 127.136 322.997 123.045C324.974 118.932 327.724 115.727 331.247 113.432C334.793 111.114 338.929 109.955 343.656 109.955C346.384 109.955 349.077 110.409 351.736 111.318C354.395 112.227 356.815 113.705 358.997 115.75C361.179 117.773 362.918 120.455 364.213 123.795C365.509 127.136 366.156 131.25 366.156 136.136V139.545H325.793V132.591H357.974C357.974 129.636 357.384 127 356.202 124.682C355.043 122.364 353.384 120.534 351.224 119.193C349.088 117.852 346.565 117.182 343.656 117.182C340.452 117.182 337.679 117.977 335.338 119.568C333.02 121.136 331.236 123.182 329.986 125.705C328.736 128.227 328.111 130.932 328.111 133.818V138.455C328.111 142.409 328.793 145.761 330.156 148.511C331.543 151.239 333.463 153.318 335.918 154.75C338.372 156.159 341.224 156.864 344.474 156.864C346.588 156.864 348.497 156.568 350.202 155.977C351.929 155.364 353.418 154.455 354.668 153.25C355.918 152.023 356.884 150.5 357.565 148.682L365.338 150.864C364.52 153.5 363.145 155.818 361.213 157.818C359.281 159.795 356.895 161.341 354.054 162.455C351.213 163.545 348.02 164.091 344.474 164.091Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M399.668 164.091C394.759 164.091 390.531 162.932 386.986 160.614C383.44 158.295 380.713 155.102 378.804 151.034C376.895 146.966 375.94 142.318 375.94 137.091C375.94 131.773 376.918 127.08 378.872 123.011C380.849 118.92 383.599 115.727 387.122 113.432C390.668 111.114 394.804 109.955 399.531 109.955C403.213 109.955 406.531 110.636 409.486 112C412.44 113.364 414.861 115.273 416.747 117.727C418.634 120.182 419.804 123.045 420.259 126.318H412.213C411.599 123.932 410.236 121.818 408.122 119.977C406.031 118.114 403.213 117.182 399.668 117.182C396.531 117.182 393.781 118 391.418 119.636C389.077 121.25 387.247 123.534 385.929 126.489C384.634 129.42 383.986 132.864 383.986 136.818C383.986 140.864 384.622 144.386 385.895 147.386C387.19 150.386 389.009 152.716 391.349 154.375C393.713 156.034 396.486 156.864 399.668 156.864C401.759 156.864 403.656 156.5 405.361 155.773C407.065 155.045 408.509 154 409.69 152.636C410.872 151.273 411.713 149.636 412.213 147.727H420.259C419.804 150.818 418.679 153.602 416.884 156.08C415.111 158.534 412.759 160.489 409.827 161.943C406.918 163.375 403.531 164.091 399.668 164.091Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M454.793 110.636V117.455H427.656V110.636H454.793ZM435.565 98.0909H443.611V148C443.611 150.273 443.94 151.977 444.599 153.114C445.281 154.227 446.145 154.977 447.19 155.364C448.259 155.727 449.384 155.909 450.565 155.909C451.452 155.909 452.179 155.864 452.747 155.773C453.315 155.659 453.77 155.568 454.111 155.5L455.747 162.727C455.202 162.932 454.44 163.136 453.463 163.341C452.486 163.568 451.247 163.682 449.747 163.682C447.474 163.682 445.247 163.193 443.065 162.216C440.906 161.239 439.111 159.75 437.679 157.75C436.27 155.75 435.565 153.227 435.565 150.182V98.0909Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M62.6364 231H54.1818C53.6818 228.568 52.8068 226.432 51.5568 224.591C50.3296 222.75 48.8296 221.205 47.0568 219.955C45.3068 218.682 43.3637 217.727 41.2273 217.091C39.0909 216.455 36.8637 216.136 34.5455 216.136C30.3182 216.136 26.4887 217.205 23.0568 219.341C19.6478 221.477 16.9318 224.625 14.9091 228.784C12.9091 232.943 11.9091 238.045 11.9091 244.091C11.9091 250.136 12.9091 255.239 14.9091 259.398C16.9318 263.557 19.6478 266.705 23.0568 268.841C26.4887 270.977 30.3182 272.045 34.5455 272.045C36.8637 272.045 39.0909 271.727 41.2273 271.091C43.3637 270.455 45.3068 269.511 47.0568 268.261C48.8296 266.989 50.3296 265.432 51.5568 263.591C52.8068 261.727 53.6818 259.591 54.1818 257.182H62.6364C62 260.75 60.8409 263.943 59.1591 266.761C57.4773 269.58 55.3864 271.977 52.8864 273.955C50.3864 275.909 47.5796 277.398 44.4659 278.42C41.375 279.443 38.0682 279.955 34.5455 279.955C28.5909 279.955 23.2955 278.5 18.6591 275.591C14.0227 272.682 10.375 268.545 7.71593 263.182C5.05684 257.818 3.72729 251.455 3.72729 244.091C3.72729 236.727 5.05684 230.364 7.71593 225C10.375 219.636 14.0227 215.5 18.6591 212.591C23.2955 209.682 28.5909 208.227 34.5455 208.227C38.0682 208.227 41.375 208.739 44.4659 209.761C47.5796 210.784 50.3864 212.284 52.8864 214.261C55.3864 216.216 57.4773 218.602 59.1591 221.42C60.8409 224.216 62 227.409 62.6364 231Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M156.207 279V226.636H163.98V234.545H164.526C165.48 231.955 167.207 229.852 169.707 228.239C172.207 226.625 175.026 225.818 178.162 225.818C178.753 225.818 179.491 225.83 180.378 225.852C181.264 225.875 181.935 225.909 182.389 225.955V234.136C182.116 234.068 181.491 233.966 180.514 233.83C179.56 233.67 178.548 233.591 177.48 233.591C174.935 233.591 172.662 234.125 170.662 235.193C168.685 236.239 167.116 237.693 165.957 239.557C164.821 241.398 164.253 243.5 164.253 245.864V279H156.207Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M212.287 280.091C207.241 280.091 202.889 278.977 199.23 276.75C195.594 274.5 192.787 271.364 190.81 267.341C188.855 263.295 187.878 258.591 187.878 253.227C187.878 247.864 188.855 243.136 190.81 239.045C192.787 234.932 195.537 231.727 199.06 229.432C202.605 227.114 206.741 225.955 211.469 225.955C214.196 225.955 216.889 226.409 219.548 227.318C222.207 228.227 224.628 229.705 226.81 231.75C228.991 233.773 230.73 236.455 232.026 239.795C233.321 243.136 233.969 247.25 233.969 252.136V255.545H193.605V248.591H225.787C225.787 245.636 225.196 243 224.014 240.682C222.855 238.364 221.196 236.534 219.037 235.193C216.901 233.852 214.378 233.182 211.469 233.182C208.264 233.182 205.491 233.977 203.151 235.568C200.832 237.136 199.048 239.182 197.798 241.705C196.548 244.227 195.923 246.932 195.923 249.818V254.455C195.923 258.409 196.605 261.761 197.969 264.511C199.355 267.239 201.276 269.318 203.73 270.75C206.185 272.159 209.037 272.864 212.287 272.864C214.401 272.864 216.31 272.568 218.014 271.977C219.741 271.364 221.23 270.455 222.48 269.25C223.73 268.023 224.696 266.5 225.378 264.682L233.151 266.864C232.332 269.5 230.957 271.818 229.026 273.818C227.094 275.795 224.707 277.341 221.866 278.455C219.026 279.545 215.832 280.091 212.287 280.091Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_3_13)" />
                        <path id="loading" d="M252 34C252 52.7777 237.673 68 220 68C202.327 68 188 52.7777 188 34C188 15.2223 202.327 0 220 0C237.673 0 252 15.2223 252 34Z" stroke="black" stroke-width="2" fill="#D9D9D9" />
                        <path id="loading" d="M199 129C199 147.778 184.673 163 167 163C149.327 163 135 147.778 135 129C135 110.222 149.327 95 167 95C184.673 95 199 110.222 199 129Z" stroke="black" stroke-width="2" fill="#D9D9D9" />
                        <path id="loading" d="M143 245C143 263.778 128.673 279 111 279C93.3269 279 79 263.778 79 245C79 226.222 93.3269 211 111 211C128.673 211 143 226.222 143 245Z" stroke="black" stroke-width="2" fill="#D9D9D9" />
                        <path id="loading" d="M79 339C79 357.778 64.6731 373 47 373C29.3269 373 15 357.778 15 339C15 320.222 29.3269 305 47 305C64.6731 305 79 320.222 79 339Z" stroke="black" stroke-width="2" fill="#D9D9D9" />
                    </svg>

                </div>

                <div class="col-md-6 " id="loginForm">

                    <div class="card" >
                        <div class="card-header">
                            Log In
                        </div>
                        <div class="card-body" style="background-color: #f2f2f2">
                            <form id="account" method="post">

                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating" style="padding-bottom:5px">
                                    <input type="text" asp-for="Input.Email" class=" form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label text-dark"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating" style="padding-bottom:5px">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <label asp-for="Input.Password" class="form-label text-dark"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkbox" style="padding:10px">
                                                <label asp-for="Input.RememberMe" class="form-label text-dark">
                                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <button id="login-submit" type="submit" style="margin-top:5px;" class=" btn btn-md  mybutton2">Log in</button>
                                        </div>


                                    </div>

                                </div>

                                <div class="flex justify-content">
                                    <p style="padding:10px">
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                    </p>
                                    <p>
                                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!--Waves Container-->
    <div  class="">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
